name: Lint

on:
  push:
    branches:
      - '**'
      - '!main'
      - '!*-main'
  pull_request:
    branches:
      - main
      - '*-main'
  workflow_dispatch:

permissions: { }

env:
  PACKAGE_NAME: smithy-kotlin

jobs:
  ktlint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.CI_USER_PAT }}
    - name: Configure Gradle
      uses: aws/aws-kotlin-repo-tools/.github/actions/configure-gradle@main
    - name: Lint ${{ env.PACKAGE_NAME }}
      run: |
        ./gradlew ktlint
